/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */

body{
    font-family: 'Dosis', sans-serif;
    margin: 0;
    line-height: 1.5;
    
}


/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

header{

    background-color: white;
    box-sizing: border-box;
    padding: 15px;
    box-shadow: 0 2px 4px rgb(163, 163, 163);
    }

    header img{
        max-width: 40%;
        height: 150px;
        display: block;
        margin-bottom: 20px;
    }

header ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    }
   
header li{
    margin-right: 30px;
    }

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

#{

}
.Circular {
    border-radius: 50%;
    height: 450px;
    width: 450px;
}

button[type="download"]{
    background-color: #ab5d9a ;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 9px;
    font-size: 20px;
    cursor: pointer;
}
button[type="download"]:hover{
   background-color: #ab5d9a;
   border-radius: 12px; 
 }

article{
    background-color: #e4cfdc ;
    box-sizing: border-box;
    padding: 20px; 
   }
.Logo {
    height: 175px;
    width: 175px;
    padding: 15px;


}
   footer{
background-color:  #ab5d9a;
justify-content: center;
text-align: center; 
   }



/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
